## Importing Libraries

In [3]:
#Import libraries
import pandas as pd
import numpy as np
import os

## Importing Data

In [4]:
#shortcut for data files
path = r'C:\Users\Sreelaya Narla\Desktop\PYTHON\2025 Instacart Basket Analysis'
path

'C:\\Users\\Sreelaya Narla\\Desktop\\PYTHON\\2025 Instacart Basket Analysis'

In [5]:
#Import orders_products_prior.csv from original data folder
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col=False)

In [8]:
#importing orders_checked.csv from prepared data 
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [9]:
#checking output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

### Checking dimensions of imported dataframe df_ords_prior
df_ords_prior.shape

In [11]:
#Checking dimensions of dataframe df_ords
df_ords.shape

(3421083, 6)

## Merging dataframes

In [13]:
#Merging both the dataframes, the default is inner join, indicator = true checks for full match
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [14]:
#chcecking the output
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [17]:
df_merged_large.shape

(32434489, 10)

In [15]:
#verifying the merged counts
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## Exporting the data

In [16]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))